.bash_history
.bundle
.byebug_history
.cache
.dockerignore
.git
.gitlab-ci.yml
.irb_history
.local
Dockerfile
Makefile
chart
log/*
node_modules
tmp/**/*
values.yaml
vendor/bundle
pg_data/
solr/arclight/data