<%# DUL CUSTOMIZATION: Override upstream arclight especially in order %>
<%# to render the Contents link to the persistent collection nav. %>
<%# https://github.com/projectblacklight/arclight/blob/main/app/components/arclight/collection_sidebar_component.rb %>

<nav id="collection-sidebar-nav" class="al-sidebar-navigation-context sidebar-section" aria-labelledby="collection-nav">
  <h2 id="collection-nav"><%= t('arclight.views.show.context_nav.title') %></h2>
  <ul class='nav flex-column'>
    <% partials.each do |section| %>
      <%# DUL CUSTOMIZATION HERE for menu: add Contents link, remove Restrictions Teaser %>
      <% next unless has_section?(section) || section == :contents_field %>
      <% next if section == :collection_restrictions_teaser_field %>
      <li class='nav-item'>
        <%= link_to section_label(section),
          document_section_path(section),
          class: 'nav-link pl-0 ps-0 py-1',
          data: { turbolinks: 'false' }
        %>
      </li>
    <% end %>
  </ul>
</nav>
