<div id="announcement" role="complementary">
  <div class="contact-wrapper position-fixed">
    <%= link_to t('dul_arclight.contact.title'),
      ask_rubenstein_url,
      class: "btn btn-sm btn-primary",
      target: "_blank" %>
  </div>
</div>
