<p class="harmful-language-statement">
  <span class="fa fa-info-circle mr-1 text-muted"></span> Some materials and descriptions may include offensive content. <a href="https://library.duke.edu/about/statement-potentially-harmful-language-library-descriptions" aria-label="Statement on Potentially Harmful Language in Library Descriptions" class="ml-1 fw-semibold" data-matomo-event-name="harmful language statement link">More info</a>
</p>
