// BLACKLIGHT NATIVE ADVANCED SEARCH
// =================================
// Fix the alignment on the advanced search facet counts
#advanced_search_facets {
  ul.facet-values {
    span:not(.facet-checkbox) {
      width: 100%;
      & > label {
        display: flex;
        .facet-label {
          flex: 1;
        }
        .facet-count {
          flex: 0;
          text-align: right;
        }
      }
    }
  }
}
