@import "bootstrap/functions";

/* ================================= */
/* Duke Branding Guide colors        */
/* https://brand.duke.edu/colors/    */
/* ================================= */
$duke-navy-blue:  #012169 !default;
$duke-royal-blue: #00539b !default;
$copper:          #c84e00 !default;
$persimmon:       #e89923 !default;
$dandelion:       #ffd960 !default;
$piedmont:        #a1b70d !default;
$eno:             #339898 !default;
$magnolia:        #1d6363 !default;
$prussian-blue:   #005587 !default;
$shale-blue:      #0577b1 !default;
$ironweed:        #993399 !default;
$hatteras:        #e2e6ed !default;
$whisper-gray:    #f3f2f1 !default;
$ginger-beer:     #fcf7e5 !default;
$dogwood:         #988675 !default;
$shackleford:     #dad0c6 !default;
$cast-iron:       #262626 !default;
$graphite:        #666666 !default;
$granite:         #b5b5b5 !default;
$limestone:       #e5e5e5 !default;

/* ================================= */
/* DUL website colors (dulcet theme) */
/* ================================= */
$dul-masthead-blue:     #053482 !default;
$dul-dulcet-lightblue:  #235f9c !default;
$dul-dulcet-green:      #a1b70d !default;
$dul-dulcet-orange:     #f09905 !default;
$dul-dulcet-red:        #cc3300 !default;

/* ===================== */
/* Grays                 */
/* ===================== */

$black: #000000 !default;
$gray-800: $cast-iron !default;
$gray-700: $graphite !default;
$gray-600: #808080 !default;
$gray-500: #9b9b9b !default;
$gray-400: $granite !default;
$gray-300: #cdcdcd !default;
$gray-200: $whisper-gray !default;
$gray-100: tint-color($whisper-gray, 40%) !default;
$white: #ffffff !default;

/* This is the lightest true gray that meets 4.5:1 contrast */
/* vs. white (required by WCAG AA). */
$text-muted: #767676 !important;

$link-color: #004CCC;
$default-border-color: $gray-200;

/* Bootstrap 5 $theme-colors */
/* https://getbootstrap.com/docs/5.0/customize/sass/#maps-and-loops */


$primary: $dul-masthead-blue !default;
$secondary: $gray-500 !default;
$success: $piedmont !default;
$info: $link-color !default;
$warning: $dandelion !default;
$danger: $copper !default;
$light: tint-color($whisper-gray, 40%) !default;
$dark: $cast-iron !default;
