#online-content {
  margin-bottom: 2rem;
}

.al-online-content-icon {
  background: tint-color($success, 85%);
  border-radius: 100%;
  width: 24px;
  height: 24px;
  text-align: center;
  vertical-align: bottom;
  display: inline-block;
  .blacklight-icons svg {
    fill: shade-color($success, 20%) !important;
    padding-bottom: 4px;
  }
}

.ddr-item-link {
  .fas {
    text-decoration: none;
    margin-right: 0.25rem;
  }
}

.btn-erec-request {
  white-space: nowrap;
}

/* ================================ */
/* SKELETON SCREENS FOR DDR IFRAMES */
/* ================================ */
/* Technique from :                 */
/* https://css-tricks.com/building-skeleton-screens-css-custom-properties/ */

iframe.ddr-embed-iframe {
  color: white;
  &.ddr-image-service {
    background-repeat: no-repeat;
    background-image:
      /* layer 4: inner box */
      linear-gradient($gray-300 475px, transparent 0),

      /* layer 3: subtitle */
      linear-gradient(to top, $gray-100 14px, transparent 0),

      /* layer 2: title */
      linear-gradient(to top, $white 18px, transparent 0),

      /* layer 1: title bar */
      /* dark gray rectangle with 65px height */
      linear-gradient(to top, $gray-700 65px, transparent 0),

      /* layer 0: full bg */
      /* gray rectangle that covers whole element */
      linear-gradient($gray-500 100%, transparent 0);

    background-size:
      375px 475px, /* inner box */
      125px 10px,  /* subtitle */
      300px 13px,  /* title */
      100% 100%, /* title bar */
      100% 100%;  /* full bg */

    background-position:
      50% 30px, /* inner box */
      15px 575px, /* subtitle */
      15px 550px, /* title */
      0 0, /* title bar */
      0 0; /* full bg */
  }

  &.ddr-audio-streaming {
    background-repeat: no-repeat;
    background-image:
      /* layer 4: inner box */
      linear-gradient($gray-300 475px, transparent 0),

      /* layer 3: subtitle */
      linear-gradient(to top, $gray-100 14px, transparent 0),

      /* layer 2: title */
      linear-gradient(to top, $white 18px, transparent 0),

      /* layer 1: title bar */
      /* dark gray rectangle with 65px height */
      linear-gradient(to top, $gray-700 65px, transparent 0),

      /* layer 0: full bg */
      /* gray rectangle that covers whole element */
      linear-gradient($gray-500 100%, transparent 0);

    background-size:
      90% 4px, /* inner box */
      125px 10px,  /* subtitle */
      300px 13px,  /* title */
      100% 100%, /* title bar */
      100% 100%;  /* full bg */

    background-position:
      15px 30px, /* inner box */
      15px 100px, /* subtitle */
      15px 75px, /* title */
      0 0, /* title bar */
      0 0; /* full bg */
  }

  &.ddr-video-streaming {
    background-repeat: no-repeat;
    background-image:

      /* layer 4: play button */
      radial-gradient(circle 45px, $gray-100 99%, transparent 0),

      /* layer 3: subtitle */
      linear-gradient(to top, $gray-100 14px, transparent 0),

      /* layer 2: title */
      linear-gradient(to top, $white 18px, transparent 0),

      /* layer 1: title bar */
      /* dark gray rectangle with 65px height */
      linear-gradient(to top, $gray-700 65px, transparent 0),

      /* layer 0: full bg */
      /* gray rectangle that covers whole element */
      linear-gradient($gray-500 100%, transparent 0);

    background-size:
      130px 130px, /* inner box */
      125px 10px,  /* subtitle */
      300px 13px,  /* title */
      100% 100%, /* title bar */
      100% 100%;  /* full bg */

    background-position:
      50% 150px, /* inner box */
      15px 475px, /* subtitle */
      15px 450px, /* title */
      0 0, /* title bar */
      0 0; /* full bg */
  }
}
